## Gather data

Bike theft data is openly available on [Toronto Public Service - PUBLIC SAFETY DATA PORTAL](https://data.torontopolice.on.ca/datasets/698717de582845458159a73ad4a2a8e0_0). TPS provides two possible ways to extract data. First method is everyday method of downloading relevant files and reading data from those files. Second method is by using an Restful API. Here, we use 1st method to extract and load bike theft data.

In [28]:
import requests
import pandas as pd
from pandas import json_normalize

In [48]:
# Load bike thefts data into a dataframe
bikethefts_df = pd.read_csv('../datasets/Bicycle_Thefts_Data.csv')

In [31]:
bikethefts_df.shape

(21584, 26)

In [33]:
bikethefts_df.describe(include='all')

,_id,Index_,event_unique_id,Primary_Offence,Occurrence_Date,Occurrence_Year,Occurrence_Month,Occurrence_Day,Occurrence_Time,Division,...,Bike_Speed,Bike_Colour,Cost_of_Bike,Status,Hood_ID,Neighbourhood,Lat,Long,ObjectId,geometry
count,21584.000000,21584.000000,21584,21584,21584,21584.000000,21584.000000,21584.000000,21584,21584.000000,...,21584.000000,19855,20048.000000,21584,21584.000000,21584,0.0,21584.000000,21584.000000,21584
unique,NaN,NaN,19350,65,2104,NaN,NaN,NaN,933,NaN,...,NaN,233,NaN,3,NaN,140,NaN,NaN,NaN,5264
top,NaN,NaN,GO-2017637379,THEFT UNDER,2018-08-15T00:00:00,NaN,NaN,NaN,18:00,NaN,...,NaN,BLK,NaN,STOLEN,NaN,Waterfront Communities-The Island (77),NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': (-79.38396..."
freq,NaN,NaN,14,9784,39,NaN,NaN,NaN,750,NaN,...,NaN,6212,NaN,20929,NaN,2271,NaN,NaN,NaN,147
mean,10792.500000,10931.509544,NaN,NaN,NaN,2016.623934,7.176149,15.621016,NaN,37.040400,...,14.161462,NaN,937.977861,NaN,75.254679,NaN,NaN,-79.395912,10792.500000,NaN
std,6230.908441,6311.114639,NaN,NaN,NaN,1.662515,2.508756,8.552982,NaN,17.644204,...,10.556898,NaN,1730.177314,NaN,23.919558,NaN,NaN,0.060023,6230.908441,NaN
min,1.000000,1.000000,NaN,NaN,NaN,2014.000000,1.000000,1.000000,NaN,11.000000,...,0.000000,NaN,0.000000,NaN,1.000000,NaN,NaN,-79.622406,1.000000,NaN
25%,5396.750000,5465.750000,NaN,NaN,NaN,2015.000000,6.000000,8.000000,NaN,14.000000,...,6.000000,NaN,350.000000,NaN,71.000000,NaN,NaN,-79.421066,5396.750000,NaN
50%,10792.500000,10930.500000,NaN,NaN,NaN,2017.000000,7.000000,16.000000,NaN,51.000000,...,15.000000,NaN,600.000000,NaN,77.000000,NaN,NaN,-79.392097,10792.500000,NaN
75%,16188.250000,16401.250000,NaN,NaN,NaN,2018.000000,9.000000,23.000000,NaN,52.000000,...,21.000000,NaN,1000.000000,NaN,85.000000,NaN,NaN,-79.375130,16188.250000,NaN
max,21584.000000,22061.000000,NaN,NaN,NaN,2019.000000,12.000000,31.000000,NaN,58.000000,...,99.000000,NaN,120000.000000,NaN,140.000000,NaN,NaN,-79.123314,21584.000000,NaN

In [34]:
bikethefts_df.head()

,_id,Index_,event_unique_id,Primary_Offence,Occurrence_Date,Occurrence_Year,Occurrence_Month,Occurrence_Day,Occurrence_Time,Division,...,Bike_Speed,Bike_Colour,Cost_of_Bike,Status,Hood_ID,Neighbourhood,Lat,Long,ObjectId,geometry
0,1,201,GO-20142058713,THEFT UNDER,2014-05-10T00:00:00,2014,5,10,16:30,23,...,10,ONG,NaN,STOLEN,2,Mount Olive-Silverstone-Jamestown (2),NaN,-79.580597,1,"{u'type': u'Point', u'coordinates': (-79.58059..."
1,2,202,GO-20142059340,PROPERTY - FOUND,2014-05-11T00:00:00,2014,5,11,18:30,53,...,1,BLK,NaN,RECOVERED,56,Leaside-Bennington (56),NaN,-79.364586,2,"{u'type': u'Point', u'coordinates': (-79.36458..."
2,3,203,GO-20142060810,THEFT UNDER,2014-05-11T00:00:00,2014,5,11,18:00,52,...,18,BLU,200.0,STOLEN,76,Bay Street Corridor (76),NaN,-79.383987,3,"{u'type': u'Point', u'coordinates': (-79.38398..."
3,4,204,GO-20142062543,THEFT UNDER,2014-05-11T00:00:00,2014,5,11,19:00,55,...,24,WHI,1600.0,STOLEN,62,East End-Danforth (62),NaN,-79.291496,4,"{u'type': u'Point', u'coordinates': (-79.29149..."
4,5,205,GO-20142062543,THEFT UNDER,2014-05-11T00:00:00,2014,5,11,19:00,55,...,18,BLU,650.0,STOLEN,62,East End-Danforth (62),NaN,-79.291496,5,"{u'type': u'Point', u'coordinates': (-79.29149..."

In [47]:
bikethefts_df.Bike_Colour.value_counts()

BLK       6212
BLU       1960
GRY       1798
WHI       1691
RED       1533
          ...
BUR          1
BRZWHI       1
SILBGE       1
TRQBLU       1
YELONG       1
Name: Bike_Colour, Length: 233, dtype: int64